fastapi
libgravatar
uvicorn[standard]
redis
jinja2
fastapi-limiter
pydantic[email]
alembic
python-dotenv
psycopg2
sqlalchemy
fastapi-mail
pytest
python-multipart
cloudinary
python-jose[cryptography]
passlib[bcrypt]
fastapi-jwt-auth
httpx
pyqrcode
pypng
qrcode[pil]